*{margin: 0; padding: 0;}
body{
	background:#ddd;
}
.wraper {
    width: 90%;
    margin: auto;
}
.content-top {
    width:400px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.content-top img {
    width: 50%;
    height: 100%;
}
.wrapper-content1 {
    height: 615px;
    margin-bottom: 20px;
}


/*content 2*/
.content-bottom {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
     position: relative;
}
.bottom-img {
    width: 190px;
    height: 200px;
    background: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}
.bottom-img img {
    width: 60%;
    height: 60%;
}

i#i1,i#i2 {
    font-size: 30px;
    position: absolute;
    cursor: pointer;
    color: #d6b6ffb0;
}
i#i1 {
    top: 45%;
    left: 5px;
}
i#i2 {
    top: 45%;
    right: 5px;
}
i#i1:hover,i#i2:hover{
	color: purple;
}